transformers==4.37.1
torch==2.2.0
scikit-learn==1.4.0
w3lib==2.1.2
nltk==3.8.1
autocorrect==2.6.1
owlready2==0.45
tensorboard==2.15.1
matplotlib==3.8.2
gensim==4.3.2
pandas==2.2.0
GitPython==3.1.41
rouge-score==0.1.2
sacrebleu==2.4.0
pyyaml==6.0.1
pytorch-lightning==2.1.4
accelerate==0.27.2
sentencepiece==0.1.99
sentence-transformers==2.3.1
